body {
    background: black;
    margin: 0;
}

.audio {
    width: 300px;
    margin: 0 auto;
    background-color: black;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
}

.title {
    color: #FE9600;
    margin: 0 auto;
    border: 2px dashed #03001C;
    font-size: 90px;
    text-align: center;
    font-family: 'halloween';
}

#canvas {
    position: relative;
    background-image: url(images/bg-halloween.png);
    border: thin solid black;
    cursor: url(images/baguette.png), pointer;
    border-radius: 6px;
    width: 1250px;
    height: 720px;
    overflow: hidden;
    padding: 30px;
}

#glasspane {
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.8);
    border: thin solid rgba(0, 0, 0, 0.6);
    color: #eeeeee;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

#glasspane a:hover {
    color: red;
}

#glasspane a {
  text-decoration: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 1);
  font-size: 95px;
}

#glasspane p {
    margin: 10px;
    color: #FE9600;
    font-size: 30px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    text-align: center;
}

.fallingLeaves {
    text-align: center;
}

.fallingLeaves span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: -280px 40px 54px -34px;
    background: url("images/witch.png");
    -webkit-animation: fallingLeaves 3.5s infinite linear;
    -moz-animation: fallingLeaves 3.5s infinite linear;
}

.fallingLeaves span:nth-child(5n+5) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.fallingLeaves span:nth-child(3n+2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.fallingLeaves span:nth-child(2n+5) {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.fallingLeaves span:nth-child(3n+10) {
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}

.fallingLeaves span:nth-child(7n+2) {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.fallingLeaves span:nth-child(4n+5) {
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}

.fallingLeaves span:nth-child(3n+7) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

@-webkit-keyframes fallingLeaves {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

@-moz-keyframes fallingLeaves {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

.goodLeaves {
    text-align: center;
}

.goodLeaves span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: -280px 40px 54px -34px;
    background: url("images/pumpkin.png");
    -webkit-animation: fallingLeaves 5s infinite linear;
    -moz-animation: fallingLeaves 5s infinite linear;
}

.goodLeaves span:nth-child(7n+5) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.goodLeaves span:nth-child(8n+2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.goodLeaves span:nth-child(2n+5) {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.goodLeaves span:nth-child(5n+10) {
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}

.goodLeaves span:nth-child(7n+2) {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.goodLeaves span:nth-child(4n+5) {
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}

.goodLeaves span:nth-child(3n+7) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
@media (max-width: 800px), (orientation:portrait) {
  .title {
      margin: 0 auto;
      font-size: 65px;
  }
    .audio {
        max-width: 100%;
        width: 95%;
        margin: auto;
    }
    .audio * {
        max-width: 100%;
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
        max-width: 98%;
        width: 100%;
        position: relative;
        padding: 0px;
        margin: 0;
        background: rgba(0, 0, 0, 0.5), linear-gradient(to left, #6190E8, #A7BFE8);
    }
    .wrapper * {
        max-width: 100%;
    }
    #canvas {
        background-size: cover;
        width: 100%;
        height: 600px;
        overflow: hidden;
        margin: auto;
        padding: 2px;
    }
}

@font-face {
    font-family: "halloween";
    src: url("HalloweenParty.ttf");
}
